 body {
  background-color: black;
  font-family: Arial, sans-serif;
}

.recipe-container {
  background-color: white;
  border-radius: 22px;
  width: 350px;
  margin: 40px auto;
  overflow: hidden;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.3);
  
}


.recipe-header {
  background-color: rgb(200, 70, 60);
  color: white;
  text-align: center;
  padding: 15px 20px;
}


.recipe-details {
  background-color: white;
  padding: 20px;
  font-size: 15px;
  line-height: 1.6;
  color: #333;
  display: flex;
  justify-content: space-between;
}

.recipe-footer {
  background-color: wheat;
  text-align: center;
  padding: 12px;
  font-size: 14px;
  color: #444;
}
.mainParent{
  display: flex;
  flex-wrap: wrap;
}
.card{
  /* background-color: aliceblue; */
  color: rgb(9, 227, 24);
  text-align: center;
  height: 50px;
  font-weight: 700;
  font-size: 40px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
  
}
.foodimg{
  height: 100px;
  width: 100px;
  border-radius: 10px;
}